<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{reset_css}}">
    <link rel="stylesheet" href="{{grandpy_app_css}}">
</head>
<body>

<nav class="light-green lighten-4 row">
    <div class="nav-wrapper container col s3 center ">
        <img src="{{ logo }}" height=100%/>
    </div>
</nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="header center green-text">GrandPy Bot</h1>

        <div class="row center">
            <h5 class="header col s12 light">Un lieu, une histoire</h5>
        </div>

        {% if submited: %}
        <div class="row">
            <div class="col s12 m5">
                <div class="card-panel teal">
                    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row row-textarea">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1"><i class="material-icons">search</i>De quel lieu voudrais-tu connaître
                            l'adresse petit ?</label>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{% if submited: %}
<div class="row">
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Afficher la carte</a>
    <div id="modal1" class="modal">

        <div class="modal-content">
            <div class="iframe-container">
                <iframe width="100%" frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?q={{ key_word_place }}&key={{ api_key }}"
                        allowfullscreen></iframe>
            </div>
        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>

    </div>
</div>
{% endif %}
<!--<div class="section">-->
<!--    <div class="container">-->

<!--    </div>-->
<!--</div>-->

<footer class="footer-copyright light-green lighten-4">
    <div class="container white-text center">
        Made by <a class="orange-text text-lighten-2" href="https://github.com/youpiyoful/grandpy_bot">Yoan
        Fornari</a>
    </div>
</footer>


<!--  Scripts-->
<!--<script src="{{ url_for('static', filename='js/iframe_box.js') }}"></script>-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../static/js/iframe_box.js"></script>

</body>
</html>
