/*this part concern the responsive iframe*/

/*.iframe-container {*/
/*  overflow: hidden;*/
/*  padding-top: 56.25%;*/
/*  position: relative;*/
/*}*/

/*.iframe-container iframe {*/
/*   border: 0;*/
/*   height: 100%;*/
/*   left: 0;*/
/*   position: absolute;*/
/*   top: 0;*/
/*   width: 100%;*/
/*}*/

/*!* 4x3 Aspect Ratio *!*/
/*.iframe-container-4x3 {*/
/*  padding-top: 75%;*/
/*}*/

body {
    position: relative;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    justify-content: flex-start;
}

.green-text {
    justify-content: center;
}

.footer-copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.logo {
    height: 25vh;
}

grandpy_title {
    padding-top: 0px !important;
    margin-top: 0px !important;
}

/* padding and margin */

/*Class*/
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

/* chatbox */

.chatbox-scroll {
    overflow: auto;
}

.chatbox-size {
    max-height: 40vh;
}

.chatbox-p {
    margin: 2px;
}

.chatbox-text-wrap {
    overflow-wrap: break-word;
}

